<!DOCTYPE html>
<html>
<head>
<title> My refersher html</title>
</head>
<body>
 <h1> Welcome to my aboutpage</h1> 
 
 <%= link_to 'Home', root_path %> 
 
 <table border: 1px solid powderblue;>
   <tr>
     <th>One</th>
     <th>Two</th>
   </tr>
   <tr>
     <th><p>software statistics <b>teaching</b> technology</p></th>
     <th><p>software statistics teaching </p></th>
   </tr>
   
   <tr>
     <th><p>software statistics <h6>teaching</h6> technology</p></th>
     <th><p>software statistics teaching </p></th>
   </tr>
   <tr>
     <th><p><h3>software</h3> statistics teaching technology</p></th>
     <th><p><b>software</b> statistics teaching </p></th>
   </tr>
   <tr>
     <th><p>software statistics teaching technology</p></th>
     <th><p>software <h4>statistics</h4> teaching </p></th>
   </tr>
 </table>
  
  
</body>
</html>